  nav {
    background-color:rgb(199, 129, 129);
    text-align: center;
    line-height: 40px;
  }

  nav a {
    color: white;
    margin: 20px;
    padding: 8px 15px;
    font-size: 16pt;
    border-radius: 5px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: white;
    color: black;
  }

  img{
  transition: transform 0.3s ease;
  }
  img:hover{
  transform: scale(1.1);
  }

  .box-line {
    text-align: center;
    border-top: 3px solid black;
border-bottom: 3px solid black;
padding: 10px;
background-color: rgb(216, 143, 143);
font-weight: bold;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }