
nav {
  background-color:#9d6a2c;
  text-align: center;
 width: 800; height: 35px;
}
nav a {
  color:white;
  margin: 20px;
  padding: 10px;
  font-size: 16pt;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
nav a:hover {
  background-color: white;
  color: black;
}



img{
transition: transform 0.3s ease;
}
img:hover{
transform: scale(1.1);
}


body {
       
  text-align: center;
 
}
.slideshow-container {
  width: 600px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.slide{
display: none;
}
.slide img {
  width: 100%;
  height: 100;
  object-fit: cover;
border-radius: 10px;
}
.container {
display: flex;
gap: 20px;
}
.card {
background: #a89191;
width: 120px;
padding: 5px 20px;
border-radius: 10px;
text-align: center;

}

.card img{
width: 100px;
height:100px;
object-fit: cover;
border-radius: 50px;
margin-bottom: 10px;
}